<h1>About the Jungle</h1>

<p>The Jungle is a Ruby on Rails app created for Lighthouse Labs students to learn a new language, ecosystem and framework. They get real world experience working with inherited existing code in an unfamiliar language and framework.</p>
